body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	height: 80px;
}

.postcard-header img {
	width: 60px;
	height: 60px;
	margin-right: 40px !important;
	margin-top: 15px !important;
	object-fit: cover;
}

.postcard-header h1 {
	width: 350px;
	height: 30px;
	font-size: 30px;
	margin-left: 30px !important;
	padding: 5px;
}

.postcard-body {
	display: flex;
	height: 170px;
}

.body-left,
.body-right {
	padding: 10px;
}

.body-left {
	padding-left: 25px;
}

.body-right {
	font-size: 15px;
}

input {
	border: none;
	border-bottom: grey;
	text-decoration: underline;
	opacity: 0.4;
	padding-top: 15px;
}

p {
	font-size: 15px;
}

.postcard-footer {
	display: flex;
}

button {
	background-color: darkgrey;
	padding: 5px;
	margin: auto;
	margin-top: 5px !important;
}
